<!DOCTYPE html>
<html>
  <head>
    <title>CryptoCalculator</title>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <a class="navbar-brand" href="index.html" id="navbar-title"><b>CryptoCalculator</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            id="navbar-collapse-btn">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" id="nav-btn-bars"></i></span>
        </button>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
